.cardProject{
 max-width: calc(100vw * 0.880555556);
 margin: 0 auto;

 display: flex;
 justify-content: space-between;
 padding-bottom: 4.7rem; 
}

.cardProject section {
 padding: 2.1rem 3.4rem ;
 width: 48%;

 border-radius: 1.5rem;
 background: rgba(1, 9, 28, 0.90); 

 font-size: 2.9rem;
 line-height: 4.35rem;

 display: flex;
 flex-direction: column;
 row-gap: 2rem;
}

.cardProject a{
 width: 48%;
}

.cardProject img {
 width: 100%
}

.cardProject img:hover{
 cursor: pointer;
 transform: scale(1.1); 
}

