@use '../../../sass/mixin';
@use '../../../sass/variables';


.home_container {
 @include mixin.container;
 padding: 52px 0;

}

.product_grid{
 margin-top: 96px ;

 display: flex;
 flex-wrap: wrap;
 justify-content: center;

 gap: 92px;
}