@use "../../../../sass/mixin";
@use "../../../../sass/variables";

.productDetail_container {
  @include mixin.container;

  margin-top: 126px;

  display: flex;
  align-items: flex-end;
  gap: 128px;
}

.productDetail_grid-left {
  display: flex;
  flex-direction: column;

  row-gap: 62px;

  .left-product_card {
    border: 1px solid variables.$border-color;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    p {
      font-size: 1.4rem;
      line-height: 2rem;
      text-align: center;

      margin-top: 16px;
      margin-bottom: 11px;
    }

    img {
      border-radius: 8px 8px 0px 0;
      width: 100%;
    }
  }

  .left-descricao {
    padding-bottom: 31px;
    border-bottom: 1px solid #d9d9d9;

    .title {
      font-size: 25px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 17px;
    }

    .content {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

%right_font {
  font-size: 30px;
  line-height: 20px;
}

%right-sizeCard{
 width: 64px;
 height:  64px;
}

.productDetail_grid-right {
  width: 638px;
  .right-title {
    padding-bottom: 40px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;

    @extend %right_font;
  }
  .right-price {
    @extend %right_font;

    font-weight: 600;
    margin-top: 55px;
  }

  .right-color {
    margin-top: 18px;

    font-size: 25px;

    span{
     text-transform: capitalize;
    }
  }

  .right-colors-div {
   margin-top: 21px;
   display: flex;
   gap: 15px;

    label {
     border-radius: 10px;
      @extend %right-sizeCard;

      input{
       display: none;
      }
    }
  }

  .right-size{
   margin-top: 31px;

   p{
    font-size: 25px;
   }

   &-grid{
margin-top: 21px;
    display: flex;
    gap: 25px;

    span{
     @extend %right-sizeCard;
     @extend %right_font;

     border: 1px solid #000;
     
     border-radius: 10px;

     display: flex;
     align-items: center;
     justify-content: center;

     text-transform: uppercase;

    }


   }

  }

  .right-button-productDetail{
   @include mixin.buttonL;

   margin-top: 111px;

   width: 100%;

   a{
    display: inline-block;
    width: 100%;
   }

  }
}
