.NavBarContainer {
 max-width: calc(100vw * 0.880555556);
 margin: 0 auto;
 padding: 5.2rem 0;
 
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.NavBarContainer ul {
 display: flex ;
 gap: 2.5rem;
 align-items: center;

}

.NavBarContainer li {
 font-size: 2rem;
}