.search-sect{
 width: 584px;
 height: 100%;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 

}

.button-container{
 margin-top: 30px;
 display: flex;
 gap: 12px;
}

.secuity-container{
 margin-top: 22px;
 display: flex;
 gap: 5px;
 justify-content: center;
 align-items: center;
}