.App {
 font-family: 'Roboto', sans-serif;
}

.App-header {
 position: fixed;
 top:0;
 left: 0;
 width: 100vw
}

.main-contet {
 width: 100vw;
 height: 100vh;

 display: flex;
 justify-content: center;
}